/* ------ STYLE RESET ------ */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

/* ------ HEADER ------ */

.header{
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(80,48,64,1) 250%);
}

.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}

nav{
    flex: 1;
    text-align: right;
}

nav ul{
    display: inline-block;
    list-style-type: none;
}

nav ul li{
    display: inline-block;
    margin-right: 60px;
}

a{
    text-decoration: none;
    color: #1D1D1D;
    font-size: 18px;
}

a.active{
    font-weight: bold;
}

/* ------ BANNER ------ */

p{
    color: #080808;
}

p.quote{
    font-size: 40px;
    font-weight: bold;
    margin: 0 0 40px 0;
}

p.text{
    font-size: 16px;
    opacity: 70%;
}

.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col-2{
    flex-basis: 50%;
    min-width: 300px;
}

.col-2 img{
    max-width: 100%;
    padding: 50px 0;
}

.btn{
    display: inline-block;
    background: #583D72;
    color: #FFF;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    font-size: 14px;
    transition: background 0.5s;
}

.btn:hover{
    background: #33174E;
}

/* ------ CATEGORIES ------ */

.categories{
    margin: 70px 0;
}

.col-3{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}

.col-3 img{
    width: 100%;
}

.small-container{
    max-width: 1080px;
    margin: auto;
    padding: 25px;
}

/* ------ PRODUCTS ------ */

.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}

.col-4 img{
    width: 100%;
}

.title{
    text-align: center;
    margin: 0 auto 80px;
    line-height: 60px;
    position: relative;
    color: #1D1D1D;
}

.title::after{
    content: '';
    background-color: #33174E;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

h4{
    color: #1D1D1D;
    opacity: 70%;
    font-weight: normal;
    line-height: 30px;
}

.col-4 p{
    color: #1D1D1D;
    font-size: 14px;
    opacity: 70%;
}

.rating{
    color: #33174E;
}

.col-4:hover{
    transform: translateY(-5px);
}

/* ------ EXCLUSIVE OFFER ------ */

.offer{
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(80,48,64,1) 250%);
    margin-top: 0px;
    padding: 0px;
}

.col-2 .offer-image{
    padding: 50px;
}

/* ------ TESTIMONIALS ------ */

.testimonial{
	padding-top: 100px;
}

.testimonial .col-3 p{
	opacity: 70%;
	color: #292c2f;
	padding: 15px;
	font-size: 18px;
}

.testimonial .col-3{
	text-align: center;
	padding: 40px 20px;
	box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
	cursor: pointer;
	transition: transform 0.5s;
}

.testimonial .col-3 img{
	width: 50px;
	margin-top: 20px;
	border-radius: 50%;
}

.testimonial .col-3:hover{
	transform: translateY(-10px);
}

.testimonial .col-3 h3{
	font-weight: 600;
	color: #080808;
	font-size: 24px;
	padding-top: 10px;
}

.fas.fa-quote-left{
	font-size: 34px;
	color: #33174E;
}

/* ------ BRANDS ------ */

.brands{
	margin: 100px auto;
}

.col-5{
	width: 160px;
}

.col-5 img{
	width: 100%;
	cursor: pointer;
	filter: grayscale(100%);
}

.col-5 img:hover{
	filter: grayscale(0);
	transition: 1s;
}

/* ------ FOOTER ------ */

